<!DOCTYPE html>
<html lang="en" th:fragment="layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <title>Dashboard</title>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets_admin/vendors/images/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets_admin/vendors/images/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets_admin/vendors/images/favicon-16x16.png}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets_admin/vendors/styles/core.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets_admin/vendors/styles/icon-font.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets_admin/plugins/datatables/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets_admin/plugins/datatables/css/responsive.bootstrap4.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets_admin/vendors/styles/style.css}"/>
</head>
<body>

<th:block th:replace="layout/admin-layout :: layout">
    <th:block th:fragment="pageContent">
        <div class="main-container">
            <div class="pd-ltr-20 xs-pd-20-10">
                <div class="min-height-200px">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="title">
                                    <h4>Quản lý nhân viên</h4>
                                </div>
                                <nav aria-label="breadcrumb" role="navigation">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{/admin/dashboard}">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Quản lý nhân viên
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-md-6 col-sm-12 text-right">
                                <div class="dropdown">
                                    <a
                                            class="btn btn-primary dropdown-toggle"
                                            href="#"
                                            role="button"
                                            data-toggle="dropdown"
                                    >
                                        2025
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Excel</a>
                                        <a class="dropdown-item" href="#">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box mb-30">
                        <div class="pd-20">
                            <h4 class="text-blue h4">Quản lý nhân viên</h4>
                        </div>
                        <div class="pb-20">
                            <table class="data-table table stripe hover nowrap">
                                <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">ID</th>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Trạng thái</th>
                                    <th class="datatable-nosort">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="emp : ${employees}">
                                    <td class="table-plus" th:text="${emp.id}"></td>
                                    <td th:text="${emp.fullName}"></td>
                                    <td th:text="${emp.email}"></td>
                                    <td th:text="${emp.phone}"></td>
                                    <td>
                                        <span th:if="${emp.active}" style="color:green;">Đang làm việc</span>
                                        <span th:unless="${emp.active}" style="color:red;">Đã nghỉ</span>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                               href="#"
                                               role="button"
                                               data-toggle="dropdown">
                                                <i class="dw dw-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                <a class="dropdown-item" th:href="@{/admin/employee/edit/{id}(id=${emp.id})}">
                                                    <i class="dw dw-edit2"></i> Cập nhật
                                                </a>
                                                <a class="dropdown-item"
                                                   th:href="@{/admin/employee/delete/{id}(id=${emp.id})}"
                                                   onclick="return confirm('Bạn có chắc muốn xóa?');">
                                                    <i class="dw dw-delete-3"></i> Xoá
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<script th:src="@{/assets_admin/vendors/scripts/core.js}"></script>
<script th:src="@{/assets_admin/vendors/scripts/script.min.js}"></script>
<script th:src="@{/assets_admin/vendors/scripts/process.js}"></script>
<script th:src="@{/assets_admin/vendors/scripts/layout-settings.js}"></script>
<script th:src="@{/assets_admin/plugins/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets_admin/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets_admin/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/assets_admin/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets_admin/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets_admin/vendors/scripts/dashboard3.js}"></script>

</body>
</html>