<th:block th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>CarCare</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/}" class="nav-item nav-link" th:classappend="${currentUri == '/' ? 'active' : ''}">Trang chủ</a>
                <a th:href="@{/about}" class="nav-item nav-link" th:classappend="${currentUri == '/about' ? 'active' : ''}">Về chúng tôi</a>
                <a th:href="@{/service}" class="nav-item nav-link" th:classappend="${currentUri == '/service' ? 'active' : ''}">Dịch vụ</a>

                <th:block th:unless="${#authorization.expression('isAnonymous()')}">
                    <a th:href="@{/owner/vehicles}" class="nav-item nav-link" th:classappend="${currentUri == '/owner/vehicles' ? 'active' : ''}">Xe của tôi</a>
                </th:block>
            </div>

            <th:block th:if="${#authorization.expression('isAnonymous()')}">
                <a th:href="@{/login}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đăng nhập<i class="fa fa-arrow-right ms-3"></i></a>
            </th:block>

            <th:block th:unless="${#authorization.expression('isAnonymous()')}">
                <a th:href="@{/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đăng xuất<i class="fa fa-arrow-right ms-3"></i></a>
            </th:block>

        </div>
    </nav>
</th:block>
